body {
	background-color: lightgrey;
	border-bottom: 2px solid black;
}
h1 {
	text-align: center;
	color: white;
	background-color: grey;
}
/*general*/
div{
	margin-left: 6em;
	margin-right: 6em;
	margin-bottom: 2em;
}


p.fecha {
	background-color: grey;
	color: white;
	padding: 1px;
	width: 6em;
	margin: auto;	
	text-align: center;
	font-weight: bold;
	margin-top: 1em;
	font-size: 23px;
}

p.titulo {
	font-weight: bold;
	font-size: 20px;
	border-bottom: 5px solid grey;
	padding-bottom: 1em;
}

p.descripcion {
	padding-top: 1em;
	padding-bottom: 1em;
}

div.noticia1{
	border-bottom: 5px solid black;
	border-top: 5px solid black;
}

div.noticia2{
	margin-bottom: -5px;
}


/*elementos*/
#lineaRoj:before{
	content: "``";
}
#lineaRoj:after{
	content: "´´";
}
#rojo {
	color: red;
}
#negrita {
	font-weight: bold;
}
#blancoAz {
	background-color: white;
	color: blue;
}
#lineaRoj{
	border-bottom: 2px dotted red;

}
